:host{
    display: block;
    height: 100%;
    width: 100%;
    
    .profileContainer{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column;
        overflow: hidden;
    }
}

.isProfile{
    box-shadow: inset 10px 40px 30px 35px rgba(0, 0, 0, 0.5);
}

.isHistory{
    box-shadow: inset 10px 100vh 30px 35px rgba(0, 0, 0, 0.85);
}