:host{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 32px;


    .profileContainer{
        width: 100%;
        height: 100%;
        position: relative;

        .search{
            position: absolute;
            top: 0;
            right: 0;
        }
        
        .pad{
            padding: 12px 62px;
        }

        .profileDetails{
            width: 100%;
            height: 100%;
            justify-content: space-around;
            
            .masteryArea{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                text-transform: uppercase;
                letter-spacing: 1px;
                max-width: 1000px;
                
                span{
                    margin-bottom: 2vh;
                    font-size: 0.8rem !important;
                }
                
                .mostMasteryChamps{
                    width: 100%;
                    align-items: center;
                    justify-content: space-around;
                    span{
                        font-size: .8rem;
                        text-transform: uppercase;
                    }
    
                    .order-1 {
                        order: 2; 
                    }
                    
                    .order-2 {
                        order: 1; 
                    }
                    
                    .order-3 {
                        order: 3; 
                    }
                }
            }

        }
    }
}