<div class="userAreaContainer flex" [style.background-image]="'url(../../../assets/images/Season_2023_-_Default_Banner.webp)'">
    
    <div class="userLevel">
        <span>{{user.level}}</span>
    </div>
    
    <div class="userImg">
        <div class="border-wrapper">
            <div [style.background-image]="'url(../../../assets/images/user.png)'"></div>
        </div>
        <img src="../../../assets/images/Summoner_Icon_Border.png" alt="">
    </div>

    <div class="userName flex-center">
        <span class="title-medium">{{user.name}}</span>
        <fa-icon class="copyIcon" [icon]="faCopy"></fa-icon>
    </div>
</div>
