@import "../../../assets/styles/variables.scss";

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}


.tableContainer {
    width: 100%;
    height: 100%;
    padding: 0 32px;
    max-width: 900px;

  
    
  
    table {
      width: 100%;
      color: $text-color-2;
      font-weight: 600;
      text-align: left;
      border-collapse: collapse;
      table-layout: fixed;
  
      thead,
      th {
        
        font-size: 1em;
        font-weight: 700;
        color: $gray-color;
        pointer-events: none;
  
      }
  
      th,
      td {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
  
        &:first-child {
          padding-left: 8px;
        }
      }
  
      tr {
  
        td {
          padding: 10px 20px 10px 0;
          font-size: 0.8rem;
  
          &:first-child {
            padding-left: 8px;
          }
        }
      }
    }
  }
  
  .w {
    @for $i from 1 through 10 {
      $width: $i * 5;
      &-#{$width} {
        width: #{$width * 1%};
      }
    }
  }
  


.summonerArea{
    align-items: center;

    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
        border: 2px solid $border-color-3;
    
    }   
}


.right{
    text-align: right;
}

.left{
    text-align: left;
}	

.center{
    text-align: center;
}

.gray-color{
    color: $gray-color;
}

.red{
    color: $lose-color !important;
}

.blue{
    color: $win-color !important;
}

.selected{
    color: $selected-text-color-2 !important;
}

.icon{
    width: 20px;
    height: 20px;
}