@import "../../../assets/styles/variables.scss";

.searchContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 32px;
    font-size: .7rem;
    color: $text-color-2;
    

    .icon{
        position: absolute;
        left: 10px;

    }
    form{
        width: 100%;
        height: 100%;

        input{
            width: 100%;
            height: 100%;
            border: 2px solid $border-color-3; 
            background-color: $background-color;
            color: $text-color-2;
            font-size: .8rem;
            padding: 0 30px;
        
            &::placeholder{
                color: $text-color-2;
            }
    
    
            &:focus{
                outline: none;
                box-shadow: inset 0 -10px 14px rgb(228, 219, 200, 0.2);
            }
            
        }
    }


    .close-icon{
        position: absolute;
        font-size: .9rem;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $text-color;
        cursor: pointer;
        transition: all .15s ease-in-out;

        &:hover{
            color: $selected-text-color;
        }
    }
}