$text-color: #baae85;
$selected-text-color: #e4dbc8;
$border-color: #413414;
$background-color: #010a13;
$border-color-2: #3b3d42;
$border-color-3:#896c2d;
$win-color: #09c0d9;
$lose-color: #95182e;
$gray-color: #79776d;
$border-color-4: #222325b7;
$selected-text-color-2: #ddaa0c;
$text-color-2: #e7decb;